.App {
  text-align: center;
  overflow: hidden;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: block;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #09d3ac;
}

table {
  width: 100%;
  height: 100%;
  table-layout: fixed;
  /*border-spacing: 0;*/
  border-collapse: collapse;
}
