.Day {
  height: 100%;
  padding: .5em 0;
  cursor: default;
  transition: background-color 1s;
}

.Day:hover {
  font-weight: bold;
  background-color:#273746;
}

.highlight {
  background-color:#B22222;
  cursor: pointer;


}

.Day:hover.highlight {
  background-color:#F08080;
  outline: 0 solid #B22222;
}
